@import 'tailwindcss'; 

/* Removing default browser css */
h1, div, p {
    margin: 0;
    padding: 0;
}

:root {
    background-color: var(--color-background);
    /* overflow: hidden scroll; */
}

/* Essentially custom global variables */
@theme {
    --color-default: #FFFFFF;
    --color-background: #04151f;
    --color-element: #183a37;
    --color-test: #EFD6AC
}

/* Essentially normal classes*/
/* Lowkey, I hate tailwind */
@layer components {
    .header {
        padding: 1.5rem;
        margin: 1.5rem 0;
    }

    .navElement {
        padding: 1.5rem;
        margin: 1.5rem;
        color: var(--color-default);
        background-color: var(--color-element);
        border: 1pt solid var(--color-element);
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.75)
    }

    .signUp {
        color: var(--color-default);
        background-color: var(--color-element);
        width: fit-content;
        margin: auto;
        padding: 1.5rem;
        border: 1pt solid var(--color-element);
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.75)
    }

    .signUp label {
        font-weight: bold;
    }

    .signUp input {
        padding: 1rem;
        margin-bottom: 1.5rem;
        color: black;
        background-color: var(--color-test);
        border: 1pt solid var(--color-test);
        border-radius: 10px;
        cursor: auto;
    }

    #submit {
        margin-bottom: 0;
        justify-content: center;
    }
}
